<h1>CatBurgers!</h1>
<h2>Eat Burgers Everyday...with Cats!</h2>
<img src="views/catburg.gif"
<h4>Available bugers :)</h4>
<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">BURGER TIME!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h4>Unavailable Burgers :( </h4>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}
      </li>
    {{/if}}
  {{/each}}

<h2>Add a CatBurger</h2>
<form class="create-update-form" action="/" method="POST">
  <div class="form-group">
    <label for="name">CatBurger Name:</label>
    <input type="text" id="burger" name="name">
  </div>
  <button type="submit">Add CatBurger</button>
</form>