<h1>CatBurgers!</h1>
<h2>Eat Burgers Everyday...with Cats!</h2>
<ul>
  {{#each burgers}}
    {{#unless this.consumed}}
      <li>
        {{this.name}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="consumed" value="true">
          <button type="submit">BURGER TIME!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Add a CatBurger</h2>
<form class="create-update-form" action="/" method="POST">
  <div class="form-group">
    <label for="name">CatBurger Name:</label>
    <input type="text" id="burger" name="name">
  </div>
  <div class="form-group">
    <label for="slee">Burger Consumed?</label><br>
    <input type="radio" name="consumed" value="1" checked> Eaten!<br>
    <input type="radio" name="consumed" value="0"> Available
  </div>
  <button type="submit">Add CatBurger</button>
</form>